# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[Makefile]
indent_style = tab

# 2 space indentation
[{*.erl, *.hrl, *.md}]
indent_style = space
indent_size = 2
