.sw?
.*.sw?
*.beam
/.erlang.mk/
/cover/
/deps/
/doc/
/ebin/
/escript/
/escript.lock
/logs/
/plugins/
/plugins.lock
/sbin/
/sbin.lock

test/config_schema_SUITE_data/schema/

/rabbitmq_auth_backend_http.d

.idea

