body { font: 12px Verdana,sans-serif; color: #484848; padding: 8px 35px; }
#logo { width: 204px; height: 37px; margin-bottom: 20px; background: url(../img/rabbitmqlogo.png); }
#login { float: right; color: #444; }
#login p { padding: 0; margin: 0; }
#login b { color: black; font-weight: normal; }
#menu ul { float: left; padding: 0; margin: 0; }
#menu li { float: left; list-style-type: none; padding: 0 2em 0 0; }
#menu li a { display: block; padding: 0.5em; }
#menu { border-bottom: 1px solid #FF8C00; overflow: auto; width: 100%; }
#main { clear: both; }
#menu a { color: #444; font-weight: bold; text-decoration: none; }
#main a { color: black; font-weight: bold; text-decoration: none; }
#main a:hover { color: #222; }
#menu a.selected { background-color: #F60; color:white; -moz-border-radius: 8px 8px 0 0; border-radius: 8px 8px 0 0; }
#menu a:hover { color: black; }
#menu a.selected:hover { color: white; }
#vhost-form { float: right; padding: 0; margin: 0; }

h1 { font-size: 2em; font-weight: normal; padding: 0; }
b, dt { color: black; font-weight: normal; }
dd { margin-bottom: 5px; }
div.box, div.section, div.section-hidden { overflow: auto; width: 100%; }

.help { color: #888; cursor: pointer; }
.help:hover { color: #444; }

table { border-collapse: collapse; }
table th { font-weight: normal; color: black; }
table th, table td { font: 12px/17px Verdana,sans-serif; padding: 4px; }
table.list th, table.list td { vertical-align: top; min-width: 5em; width: auto; }

table.list { border-width: 1px; border-bottom: 1px solid #ccc; margin-bottom: 1em; }
table.list th, table.list td { border-left: 1px solid #ccc; border-right: 1px solid #ccc; }
table.list th { text-align: center; border-top: 1px solid #ccc; border-bottom: 1px solid #ccc; }
table.list td a { display: block; width: 100%; }
table.list th a.sort { display: block; width: 100%; cursor: pointer; }
table.list th a.sort .arrow { color: #888; }
table.list td p { margin: 0; padding: 1px 0 0 0; }
table.list td p.warning { margin: 0; padding: 5px; }

table.list-with-total { border-bottom: none; }
table.list tr.total td { border: none; border-top: 1px solid #bbb; }
table.list tr.total th { border: none; border-top: 1px solid #bbb; text-align: right; vertical-align: middle; }

div.section table.list, div.section-hidden table.list { margin-bottom: 0; }

sub { display: block; font-size: 0.8em; color: #888; }
small { font-size: 0.8em; color: #888; }
#main sub a { color: #888; }
#main sub a:hover { color: #444; }
.unknown { color: #888; }

table.facts { float: left; margin-right: 50px; }
table.facts th { color: black; text-align: right; border-right: 1px solid #ccc; }
table.facts th, table.facts td { vertical-align: top; padding: 0 10px 10px 10px; }

table.facts-long th { text-align: right; font-weight: bold; }
table.facts-long th, table.facts-long td { vertical-align: top; }

table.mini th { border: none; padding: 0 2px 2px 2px; text-align: right; }
table.mini td { border: none; padding: 0 2px 2px 2px; }

tr.alt1>td { background: #eee; }
tr.alt2>td { background: #fff; }

td.status { text-align: center; }
td.status div { padding: 5px; text-align: center; border-radius: 5px; -moz-border-radius: 5px; }
td.status div.red { background: #F62817; color:white; }
td.status div.red * { color:white; }
td.status div.yellow { background: yellow; }
td.status div.green { background: lightgreen; }

td.l { text-align: left !important; }
td.c { text-align: center !important; }
td.r { text-align: right !important; }

p.status-ok { color: #888; text-align: right; }
p.status-error { background: #f44; border: 1px solid #800; color: white; margin-top: 50px !important; }
p.warning, div.form-popup-warn { background: #ff8; border: 1px solid #bb8; }
div.form-popup-info { background: #8f8; border: 1px solid #4b4; }
div.form-popup-help { text-align: left !important; background: #f8f8f8; border: 1px solid #ccc; }
div.form-popup-warn, div.form-popup-info, div.form-popup-help { margin: 20px; padding: 15px; border-radius: 10px; -moz-border-radius: 10px; text-align: center; max-width: 600px; }

p.status-error, p.warning { margin: 20px; padding: 15px; border-radius: 10px; -moz-border-radius: 10px; text-align: center; font-weight: bold; }

.highlight, .highlight-right { min-width: 120px; font-size: 120%; text-align:center; padding:10px; background-color: #ddd; margin: 0 20px 0 0; color: #888; border-radius: 10px; -moz-border-radius: 10px; }
.highlight strong, .highlight-right strong { font-size: 2em; display: block; color: #444; font-weight: normal; }
.highlight { float: left; }
.highlight-right { float: right; }

.mini-highlight { font-size: 150%; padding:10px; background-color: #ddd; color: #888; border-radius: 10px; -moz-border-radius: 10px; line-height: 300%; }

div.section, div.section-hidden { margin: 0 0 1em 0; }
div.section-invisible div.hider { display: none; }
div.section div.hider, div.section-hidden div.hider { padding: 0.5em 0; }
div.section h2, div.section-hidden h2 { font-size: 1em; padding: 5px 5px 5px 25px; cursor: pointer; margin: 0; }
div.section h2:hover, div.section-hidden h2:hover { color: black; }
div.section-invisible h2 { background: white; border-bottom: 1px solid #ddd; background-image: url(../img/collapse.png); background-repeat:no-repeat; background-position:4px 4px; }
div.section-visible h2 { background: #f8f8f8;  border-bottom: 1px solid #ddd; background-image: url(../img/expand.png); background-repeat:no-repeat; background-position:4px 4px; }

form { margin: 0; }
form.inline-form { float: left; }
form.inline-form-right { float: right; }
input, select { padding: 0.2em; }
input[type=text], input[type=password] { font: 1.1em Andale Mono, Lucidatypewriter, Courier New, Courier, monospace; border: 1px solid #ccc; }
input[type=text].wide, input[type=password].wide { width: 300px; }
textarea { width: 600px; height: 200px; border: 1px solid #ccc; }
.mand { color: #f88; padding: 0 5px;}

table.form { margin-bottom: 0.5em; }
table.form th { text-align: right; vertical-align: top; }
table.form input[type=text], table.form input[type=password] { width: 200px; }
table.form select { width: 200px; }
table.form select.narrow { width: 110px; }
table.form .multifield { margin: 0; padding: 0; }
table.form .multifield p { margin: 0; padding: 0; }
table.form label { margin-top: 5px; display: block; }

table.two-col-layout { width: 100%; }
table.two-col-layout > tbody > tr > td { width: 50%; vertical-align: top; }

input[type=submit], button { padding: 8px; border-radius: 5px; -moz-border-radius: 5px; color: black !important; text-decoration: none; cursor: pointer; font-weight: normal; }

input[type=submit], button {
    background: #ddf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ddf),color-stop(1, #bbf));
    border: 1px solid #88d;
}

input[type=submit]:hover, button:hover {
    background: #bbf;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #bbf),color-stop(1, #99d));
    border: 1px solid #66b;
}

button[disabled] { background: #aac; }
button[disabled]:hover { background: #aac; }

.form-popup-warn, .form-popup-info, .form-popup-help { display: none; position: fixed; min-width: 500px; }
.form-popup-warn span, .form-popup-info span, .form-popup-help span { color: black; font-weight: bold; cursor: pointer; }

h3 { padding: 0 0 2px 0; margin: 1em 0 1em 0; font-size: 1em; border-bottom: 1px solid #E4E4E4; font-weight: normal; }

acronym { background: #add; color: #222; padding: 2px 4px; border-radius: 2px; -moz-border-radius: 2px; border: none; cursor: default; }

acronym.warning { background: #daa; }

table.bindings { margin-bottom: 1em; }
td.binding-endpoint span.object { border: 1px solid #bbb; padding: 10px; border-radius: 10px; -moz-border-radius: 10px; }
td.binding-endpoint span.arrow { font-size: 200%; }

#footer { overflow: auto; width: 100%; }
#footer-nav { padding-top: 5px; }
#footer-nav ul { float: left; list-style-type: none; padding: 0; margin: 0;}
#footer-nav ul li { float: left; border-right: 1px solid #ccc; padding: 2px 5px 2px 0;}
#footer-nav ul li + li { border-right: none; padding: 2px 5px;}
#footer-nav ul li a { color: #888; text-decoration: none; }
#footer-nav ul li a:hover { color: #444; }

#update-form { float: right; margin: 0; padding: 0; }

#status { clear: both; }
#scratch { display: none; }

tr.alt1>td {
    background: -moz-linear-gradient(center top, #f0f0f0 0%,#e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0),color-stop(1, #e0e0e0));
}

tr.alt2>td {
    background: -moz-linear-gradient(center top, #f8f8f8 0%,#ffffff 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f8f8f8),color-stop(1, #ffffff));
}

.highlight, .mini-highlight {
    background: -moz-linear-gradient(center top, #f0f0f0 0%,#e0e0e0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f0f0f0),color-stop(1, #e0e0e0));
    border: 1px solid #e0e0e0;
}
