body { font: 12px/17px Verdana,sans-serif; color: #444; padding: 8px 35px; }
#logo { width: 204px; height: 37px; margin-bottom: 25px; background: url(/img/rabbitmqlogo.png); }
#strap { float: right; }
#menu ul { height: 2em; padding: 0; }
#menu li { float: left; list-style-type: none; padding: 0 2em 0 0; }
#menu li a { padding: 0.5em; }
#menu { border-bottom: 1px solid #FF8C00; }
#main { clear: both; }
a { color: #444; font-weight: bold; text-decoration: none; }
a.selected { background-color: #F60; color:white; }
#status { border-top:1px solid #E4E4E4; }
h1 { color: #F60; font-size: 14px; line-height: 14px; }

table { border-collapse: collapse; margin-bottom: 2em; }
table th, table td { font: 12px/17px Verdana,sans-serif; padding: 4px; }

table.list { border-width: 1px; border-bottom: 1px solid #bbb; }
table.list th, table.list td { border-left: 1px solid #bbb; border-right: 1px solid #bbb; }
table.list th { text-align: center; font-weight: bold; border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; }

sub { display: block; color: #888; }

table.warns th { text-align: right; font-weight: bold; }

tr.alt td {background:#eee;}

td.red {background: #F62817; color:white; font-weight: bolder;}
td.red * {color:white;}
td.yellow {background: yellow;}
td.green {background: lightgreen;}

td.l {text-align: left;}
td.c {text-align: center;}
td.r {text-align: right;}

p.status-ok { color: #888; }
p.status-warning { color: black; background-color: #ff8; }
p.status-error { color: white; background-color: #f00; }