build --incompatible_strict_action_env

build:buildbuddy --bes_results_url=https://app.buildbuddy.io/invocation/
build:buildbuddy --bes_backend=grpcs://cloud.buildbuddy.io
build:buildbuddy --remote_cache=grpcs://cloud.buildbuddy.io
build:buildbuddy --remote_timeout=1200
build:buildbuddy --grpc_keepalive_time=30s
build:buildbuddy --build_metadata=REPO_URL=https://github.com/rabbitmq/rabbitmq-server.git

build:rbe --config=buildbuddy

build:rbe --remote_executor=grpcs://cloud.buildbuddy.io

build:rbe --crosstool_top=@buildbuddy_toolchain//:toolchain
build:rbe --extra_toolchains=@buildbuddy_toolchain//:cc_toolchain
build:rbe --javabase=@buildbuddy_toolchain//:javabase_jdk8
build:rbe --host_javabase=@buildbuddy_toolchain//:javabase_jdk8
build:rbe --java_toolchain=@buildbuddy_toolchain//:toolchain_jdk8
build:rbe --host_java_toolchain=@buildbuddy_toolchain//:toolchain_jdk8

build:rbe --@bazel-erlang//:erlang_home=/usr/lib/erlang
build:rbe --//:elixir_home=/usr/local

build:rbe --spawn_strategy=remote
build:rbe --test_strategy=""
build:rbe --jobs=50

build:rbe-23 --config=rbe
build:rbe-23 --host_platform=//:erlang_23_platform
build:rbe-23 --platforms=//:erlang_23_platform
build:rbe-23 --extra_execution_platforms=//:erlang_23_platform
build:rbe-23 --@bazel-erlang//:erlang_version=23

build:rbe-24 --config=rbe
build:rbe-24 --host_platform=//:erlang_24_platform
build:rbe-24 --platforms=//:erlang_24_platform
build:rbe-24 --extra_execution_platforms=//:erlang_24_platform
build:rbe-24 --@bazel-erlang//:erlang_version=24

# Try importing a user specific .bazelrc
# You can create your own by copying and editing the template-user.bazelrc template:
# cp template-user.bazelrc user.bazelrc
try-import %workspace%/user.bazelrc
