*~
.sw?
.*.sw?
*.beam
*.coverdata
.erlang.mk/
cover/
debug/
deps/
doc/
ebin/
etc/
logs/
plugins/
test/ct.cover.spec

PACKAGES/

rabbit.d

# Generated sources files.
src/rabbit_ctl_usage.erl
src/rabbit_plugins_usage.erl

# Generated documentation.
docs/rabbitmq-echopid.man.xml
docs/rabbitmq-env.conf.5
docs/rabbitmq-env.conf.5.man.xml
docs/rabbitmq-plugins.1
docs/rabbitmq-plugins.1.man.xml
docs/rabbitmq-server.1
docs/rabbitmq-server.1.man.xml
docs/rabbitmq-service.man.xml
docs/rabbitmqctl.1
docs/rabbitmqctl.1.man.xml

# Source distribution.
rabbitmq-server-*/
rabbitmq-server-*.tar.gz
rabbitmq-server-*.tar.bz2
rabbitmq-server-*.tar.xz
rabbitmq-server-*.zip

# Dialyzer
*.plt

# Tracing tools
*-ttb
*.ti
