*~
.sw?
.*.sw?
/.erlang.mk/
/ebin/
/bin/
/deps/
/escript/
/escript.lock
/plugins/
/plugins.lock
/sbin/
/sbin.lock
erl_crash.dump
.envrc
*.plt
*.lock

/topic-branch-scratch/

PACKAGES/

# Source distribution.
rabbitmq-server-*/
rabbitmq-server-*.tar.gz
rabbitmq-server-*.tar.bz2
rabbitmq-server-*.tar.xz
rabbitmq-server-*.zip

traces*
callgrand*

/user.bazelrc
/bazel-*
