# Do *not* comment or remove core modules
# unless you know what you are doing.
#
# Feel free to comment plugins out however.

# Core modules.
core/core
index/*
core/index
core/deps

# Plugins that must run before Erlang code gets compiled.
plugins/protobuffs

# Core modules, continued.
core/erlc
core/docs
core/test

# Plugins.
plugins/asciidoc
plugins/bootstrap
plugins/c_src
plugins/ci
plugins/ct
plugins/dialyzer
# plugins/edoc
plugins/elvis
plugins/erlydtl
plugins/escript
plugins/eunit
plugins/relx
plugins/shell
plugins/triq
plugins/xref

# Plugins enhancing the functionality of other plugins.
plugins/cover
