# vim: ft=yaml
# https://erlang-ls.github.io/configuration/
# otp_path: "/path/to/otp/lib/erlang"
deps_dirs:
  - "deps/*"
diagnostics:
  # disabled:
  #   - bound_var_in_pattern
  enabled:
    - crossref
    - dialyzer
    - compiler
    # - elvis
include_dirs:
  - "deps"
  - "deps/*/include"
# lenses:
#   enabled:
#     - ct-run-test
#     - show-behaviour-usages
#   disabled: []
# macros:
#   - name: DEFINED_WITH_VALUE
#     value: 42
# code_reload:
#  node: rabbit@localhost
plt_path: .rabbitmq_server_release.plt
