# otp_path: "/path/to/otp/lib/erlang"
deps_dirs:
  - "deps/*"
  - "deps/rabbit/apps/*"
diagnostics:
  disabled: []
  enabled:
    - crossref
    - dialyzer
    - elvis
    - compiler
include_dirs:
  - "deps"
  - "deps/*/include"
# lenses:
#   enabled:
#     - ct-run-test
#     - show-behaviour-usages
#   disabled: []
# macros:
#   - name: DEFINED_WITH_VALUE
#     value: 42
# code_reload:
#  node: rabbit@localhost
plt_path: .rabbitmq_server_release.plt
