[
{rabbit, [
           {cluster_nodes, {['rabbit@localhost'
           ,
                             'rabbit1@localhost'
                             ], disc}}
          ]},
{ramnesia, [
            {initial_nodes, ['rabbit@localhost'
            ,
                             'rabbit1@localhost'
                             ]}]},
{ra, [{data_dir, "/tmp/ramnesia"}]}
].
