{plugins, [rebar3_format]}.

{format, [
    {files, ["deps/rabbit/src/rabbit_stream_sac_coordinator.*",
             "deps/rabbit/test/rabbit_stream_sac_coordinator_SUITE.erl",
             "deps/rabbitmq_stream*/src/*.erl",
             "deps/rabbitmq_stream*/test/*.erl"
              ]},
    {formatter, default_formatter},
    {options, #{
                paper => 80,
                ribbon => 70,
                inline_attributes => {when_under, 1},
                inline_items => {when_under, 4}
               }}
]}.
