%% vim:ft=erlang:
{release,
 {"RabbitMQ", "4.0.0"},
 [{mnesia, none},

  rabbit,

  {amqp_client, none},
  {rabbitmq_management_agent, none},
  {rabbitmq_web_dispatch, none},
  {rabbitmq_management, none},

  {prometheus, none},
  {rabbitmq_prometheus, none},

  {rabbitmq_stream_common, none},
  {rabbitmq_stream, none},
  {rabbitmq_stream_management, none},
  {rabbitmq_top, none}]}.

{extended_start_script, true}.

{vm_args, "./vm.args.src"}.

{overlay, [{copy, "escript", "escript"},
           {copy, "sbin/rabbitmq-defaults", "bin"},
           {copy, "sbin/rabbitmq-env", "bin"},
           {copy, "sbin/rabbitmq-plugins", "bin"},
           {copy, "sbin/rabbitmq-diagnostics", "bin"},
           {copy, "sbin/rabbitmq-queues", "bin"},
           {copy, "sbin/rabbitmq-streams", "bin"},
           {copy, "sbin/rabbitmq-upgrade", "bin"},
           {copy, "sbin/rabbitmqctl", "bin"},
           {mkdir, "etc"},
           {mkdir, "etc/rabbitmq"}]}.

{extended_start_script_hooks, [{pre_start, [{custom, "rabbitmq-env"}]}]}.
