[{rabbitmq_stomp, [{default_user,     []},
                   {ssl_cert_login,   true},
                   {tcp_listeners,    [5673]},
                   {ssl_listeners,    [5674]}
                  ]},
 {rabbit, [{ssl_options, [{cacertfile,"%%CERTS_DIR%%/testca/cacert.pem"},
                          {certfile,"%%CERTS_DIR%%/server/cert.pem"},
                          {keyfile,"%%CERTS_DIR%%/server/key.pem"},
                          {verify,verify_peer},
                          {fail_if_no_peer_cert,true}
                         ]}
          ]}
].
