{plugins, [rebar3_format]}.

{format, [
    {files, ["src/*.erl", "test/*.erl"]},
    {formatter, default_formatter},
    {options, #{
                paper => 80,
                ribbon => 70,
                inline_attributes => {when_under, 1},
                inline_items => {when_under, 4}
               }}
]}.