<h1>Top</h1>

<p>
  Nodes:
  <% for (var i = 0; i < nodes.length; i++) { %>
     <a href="#/top/<%= fmt_string(nodes[i].name) %>"><%= nodes[i].name %></a>
  <% } %>
</p>

<%= format('processes', {'processes': top}) %>
