# vim:sw=2:et:

sudo: false
language: erlang
notifications:
  email:
    - alerts@rabbitmq.com
addons:
  apt:
    packages:
      - awscli
      - xsltproc
cache:
  apt: true
env:
  global:
    - secure: CEMkEmyJN9G31OA/PlBbVj69iGuWIXiTMHJEXckZUfrHC22C4HiilORDvHaUuTZPyItilmdP4awn5JViTAd2Kf2T38kHan7N3AMUv7Xb15bfQtLANJjh5O6BLu5ExVQYtnj1zgYr8H0hS6IcHhv/xUrzd+r+neJEWcDR+m4VU/0=
    - secure: CmWb/IKD/WFRZD9sEerI4SMdfD9aWWr2XAhaiRZmoF4pg/IHgLDZQV0IxAEJsWbPgOaJ8nHPwIA8rD2jDH6ZYNfNxDrw0BMNDMdUXATloF05eL8sPHnsS+u5Lnwk0hojAhKJBTNjGpVX53tZtPXYPR//LKJM6LbtKE/4SALlzw8=

otp_release:
  - "R16B03-1"
  - "19.3"
  - "20.1"

before_script:
  # The checkout made by Travis is a "detached HEAD" and branches
  # information is missing. Our Erlang.mk's git_rmq fetch method relies
  # on it, so we need to restore it.
  #
  # We simply fetch master and, if it exists, stable branches. A branch
  # is created, pointing to the detached HEAD.
  - |
    git checkout -B "${TRAVIS_TAG:-${TRAVIS_BRANCH}}"
    git remote add upstream https://github.com/$TRAVIS_REPO_SLUG.git
    git fetch upstream stable:stable || :
    git fetch upstream master:master || :

script:
  - make xref
  - make tests

after_failure:
  - |
    cd "$TRAVIS_BUILD_DIR"
    if test -d logs && test "$AWS_ACCESS_KEY_ID" && test "$AWS_SECRET_ACCESS_KEY"; then
      archive_name="$(basename "$TRAVIS_REPO_SLUG")-$TRAVIS_JOB_NUMBER"

      tar -c --transform "s/^logs/${archive_name}/" -f - logs | \
        xz > "${archive_name}.tar.xz"

      aws s3 cp "${archive_name}.tar.xz" s3://server-release-pipeline/travis-ci-logs/ \
        --region eu-west-1 \
        --acl public-read
    fi
