# vim:sw=2:et:

sudo: false
language: erlang
notifications:
  email:
    - alerts@rabbitmq.com
addons:
  apt:
    packages:
      - awscli
      - xsltproc
cache:
  apt: true
env:
  global:
    - secure: gurOtJIlJ5wWiHNYVjmdnfXYcAJspFfvIfHOoXhQDSwTLy+LJKHyMUskJK2mvmyGw/w9he5lhp0ld30VI23FE1h+nftf9J9om9iFjRStYN/Gs75zAFumhZpXXKGXH09nhqRauuX3rUtjRcsQ3NiKfE/JlYZdRAwd3LCH1VP2kO0=
    - secure: cDpETGT2nDRh7t+cUswhPh/B+9sM5F9q7C7WMSWm9QH0fYJcSoNPFl2FAfdzaokXw2BwCBw7hE3ZX7t+y6yPN1xsY9Hf2iU5sE5NNjIxQDF0Hlu1h/yYXz0peUUYnWMkW4fZXXu37EsyU8hMMSAceLozX2NpFOgdjTXqja9TTPI=

otp_release:
  - "R16B03-1"
  - "19.3"
  - "20.1"

before_script:
  # The checkout made by Travis is a "detached HEAD" and branches
  # information is missing. Our Erlang.mk's git_rmq fetch method relies
  # on it, so we need to restore it.
  #
  # We simply fetch master and, if it exists, stable branches. A branch
  # is created, pointing to the detached HEAD.
  - |
    git checkout -B "${TRAVIS_TAG:-${TRAVIS_BRANCH}}"
    git remote add upstream https://github.com/$TRAVIS_REPO_SLUG.git
    git fetch upstream stable:stable || :
    git fetch upstream master:master || :

script:
  - make xref
  - make tests

after_failure:
  - |
    cd "$TRAVIS_BUILD_DIR"
    if test -d logs && test "$AWS_ACCESS_KEY_ID" && test "$AWS_SECRET_ACCESS_KEY"; then
      archive_name="$(basename "$TRAVIS_REPO_SLUG")-$TRAVIS_JOB_NUMBER"

      tar -c --transform "s/^logs/${archive_name}/" -f - logs | \
        xz > "${archive_name}.tar.xz"

      aws s3 cp "${archive_name}.tar.xz" s3://server-release-pipeline/travis-ci-logs/ \
        --region eu-west-1 \
        --acl public-read
    fi
