Source: rabbitmq-server
Section: net
Priority: extra
Maintainer: Tony Garnock-Jones <tonyg@rabbitmq.com>
Build-Depends: cdbs, debhelper (>= 5), elinks, erlang-base | erlang-base-hipe, erlang-nox, erlang-dev, erlang-src, findutils, gzip, make, python, python-json, reprepro, sed, tar, zip
Standards-Version: 3.7.2

Package: rabbitmq-server
Architecture: all
Depends: erlang-nox, adduser, logrotate
Description: An AMQP server written in Erlang
 RabbitMQ is an implementation of AMQP, the emerging standard for high
 performance enterprise messaging. The RabbitMQ server is a robust and
 scalable implementation of an AMQP broker.
Homepage: http://www.rabbitmq.com/
