Source: rabbitmq-server
Section: net
Priority: extra
Maintainer: RabbitMQ Team <info@rabbitmq.com>
Uploaders: Michael Klishin <michael@rabbitmq.com>,
 Karl Nilsson <knilsson@rabbitmq.com>,
 Jean-Sébastien Pédron <jean-sebastien@rabbitmq.com>
Build-Depends: debhelper (>= 9),
 dh-systemd (>= 1.5),
 erlang-base (>= 1:21.3) | erlang-base-hipe (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-base (<< 1:23.0)   | erlang-base-hipe (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-crypto (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-crypto (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-edoc (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-edoc (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-eldap (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-eldap (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-erl-docgen (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-erl-docgen (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-eunit (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-eunit (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-inets (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-inets (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-mnesia (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-mnesia (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-os-mon (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-os-mon (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-parsetools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-parsetools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-public-key (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-public-key (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-runtime-tools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-runtime-tools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-ssl (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-ssl (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-syntax-tools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-syntax-tools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-tools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-tools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-xmerl (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-xmerl (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-dev (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-dev (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-src (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-src (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 elixir (>= 1.7.4),
 zip,
 rsync
Standards-Version: 3.9.6

Package: rabbitmq-server
Architecture: all
# FIXME: We remove ${misc:Depends} and hard-code the dependency on
# init-system-helpers. we need this because we build the package on
# Debian, where dh-systemd/init-system-helpers is at version 1.18, but
# Ubuntu 14.04 only has init-system-helpers 1.14.
Depends: init-system-helpers (>= 1.13~),
 erlang-base (>= 1:21.3) | erlang-base-hipe (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-base (<< 1:23.0)   | erlang-base-hipe (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-crypto (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-crypto (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-eldap (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-eldap (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-inets (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-inets (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-mnesia (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-mnesia (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-os-mon (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-os-mon (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-parsetools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-parsetools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-public-key (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-public-key (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-runtime-tools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-runtime-tools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-ssl (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-ssl (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-syntax-tools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-syntax-tools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-tools (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-tools (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 erlang-xmerl (>= 1:21.3) | esl-erlang (>= 1:21.3),
 erlang-xmerl (<< 1:23.0)   | esl-erlang (<< 1:23.0),
 adduser,
 logrotate,
 socat
Description: Multi-protocol messaging broker
 RabbitMQ is an open source multi-protocol messaging broker.
Homepage: http://www.rabbitmq.com/
