<%
  if (binary == "not_available") {
%>
<p class="warning">
  Binary statistics not available.
</p>
<% } else { %>
    <%
    var total_out = [];
    %>
    <%= format('memory-bar', {sections: BINARY_STATISTICS.sections, memory: binary, total_out: total_out}) %>
    <span class="clear">&nbsp;</span>
    <div class="box">
        <%= format('memory-table', {key: BINARY_STATISTICS. key, memory: binary}) %>
    </div>

<div class="memory-info">
  Last updated: <b><%= fmt_date(new Date()) %></b>.<br/>
  Total referenced binaries at last update: <b><%= fmt_bytes(total_out[0]) %></b>
  <span class="help" id="binary-use"></span>
</div>

<% } %>
