<tr>
  <td>Queues [Classic]</td>
  <td>
    <span class="argument-link" field="definitionop" key="expires" type="number">Auto expire</span> |
    <span class="argument-link" field="definitionop" key="max-length" type="number">Max length</span> |
    <span class="argument-link" field="definitionop" key="max-length-bytes" type="number">Max length bytes</span> |
    <span class="argument-link" field="definitionop" key="message-ttl" type="number">Message TTL</span> |
    <span class="help" id="queue-message-ttl"></span> |
    <span class="argument-link" field="definitionop" key="overflow" type="string">Length limit overflow behaviour</span> <span class="help" id="queue-overflow"></span> </br>
  </td>
</tr>