<div id="header">
  <ul id="topnav">
    <li id="interval">
      <label for="update-every" id="status"></label>
      <select id="update-every">
        <% if(disable_stats) { %>
         <option value="">Do not refresh</option>
         <option value="5000">Refresh every 5 seconds</option>
        <% } else { %>
         <option value="5000">Refresh every 5 seconds</option>
        <% } %>
        <option value="10000">Refresh every 10 seconds</option>
        <option value="30000">Refresh every 30 seconds</option>
        <% if(!disable_stats) { %>
         <option value="">Do not refresh</option>
        <% } %>
      </select>
    </li>
    <li id="vhost">
      <label for="show-vhost">Virtual host </label>
      <select id="show-vhost">
        <option value="">All</option>
      </select>
    </li>
    <li id="logout">
      <form action="#/logout" method="put">
        <input type="submit" value="Log out"/>
      </form>
    </li>
  </ul>
  <div id="logo">
    <a href="#/"><img src="img/rabbitmqlogo.svg" alt="RabbitMQ logo" width="204" height="37"/></a>
    <span id="versions"></span>
  </div>
  <div id="menu">
    <ul id="tabs">
    </ul>
  </div>
</div>
<div id="rhs"></div>
<div id="main"></div>
<div id="footer">
  <ul>
    <li><a rel="noopener noreferrer" href="api/" target="_blank">HTTP API</a></li>
    <li><a rel="noopener noreferrer" href="https://www.rabbitmq.com/documentation.html" target="_blank">Documentation</a></li>
    <li><a rel="noopener noreferrer" href="https://www.rabbitmq.com/getstarted.html" target="_blank">Tutorials</a></li>
    <li><a rel="noopener noreferrer" href="https://www.rabbitmq.com/changelog.html" target="_blank">New releases</a></li>
    <li><a rel="noopener noreferrer" href="https://www.vmware.com/products/rabbitmq.html" target="_blank">Commercial edition</a></li>
    <li><a rel="noopener noreferrer" href="https://www.rabbitmq.com/services.html" target="_blank">Commercial support</a></li>
    <li><a rel="noopener noreferrer" href="https://groups.google.com/forum/#!forum/rabbitmq-users" target="_blank">Google Group</a></li>
    <li><a rel="noopener noreferrer" href="https://rabbitmq.com/discord/" target="_blank">Discord</a></li>
    <li><a rel="noopener noreferrer" href="https://rabbitmq.com/slack/" target="_blank">Slack</a></li>
    <li><a rel="noopener noreferrer" href="https://www.rabbitmq.com/plugins.html" target="_blank">Plugins</a></li>
    <li><a rel="noopener noreferrer" href="https://www.rabbitmq.com/github.html" target="_blank">GitHub</a></li>
  </ul>
</div>
