<div id="header">
  <div id="login-version">
    <form action="#/logout" method="put">
      <input type="submit" value="Log out"/>
    </form>
    <div id="login-details"></div>
  </div>
  <div id="logo">
    <a href="/"><img src="img/rabbitmqlogo.png" alt="RabbitMQ logo" width="204" height="37"/></a>
    <a href="api/" target="_blank">HTTP API</a>
    <a href="cli/" target="_blank">CLI</a>
  </div>
  <div id="menu">
    <p id="vhost-form">
      <label for="show-vhost">Virtual host: </label>
      <select id="show-vhost">
        <option value="">All</option>
      </select>
    </p>
    <ul id="tabs">
    </ul>
  </div>
</div>
<div id="rhs"></div>
<div id="main"></div>
<div id="footer">
  <div id="footer-nav">
    <ul>
      <li><a href="https://www.rabbitmq.com/admin-guide.html" target="_blank">Server Docs</a></li>
      <li><a href="https://www.rabbitmq.com/getstarted.html" target="_blank">Tutorials</a></li>
      <li><a href="https://groups.google.com/forum/#!forum/rabbitmq-users" target="_blank">Mailing List</a></li>
      <li><a href="https://www.rabbitmq.com/plugins.html" target="_blank">Plugins</a></li>
      <li><a href="https://github.com/rabbitmq" target="_blank">Github</a></li>
      <li><a href="https://www.rabbitmq.com/changelog.html" target="_blank">Changelog</a></li>
    </ul>
  </div>
  <div id="update-form">
    <label for="update-every">Update </label>
    <select id="update-every">
      <option value="5000">every 5 seconds</option>
      <option value="30000">every 30 seconds</option>
      <option value="300000">every 5 minutes</option>
      <option value="">never</option>
    </select>
  </div>
</div>
<div id="status"></div>
