<div id="login">
  <p><img src="img/rabbitmqlogo.svg" alt="RabbitMQ logo" width="204" height="37"/></p>

  <form action="#/login" method="put">
    <div id="login-status"></div>
    <table class="form">
      <tr>
        <th><label for="username">Username:</label></th>
        <td><input id="username" type="text" name="username" autofocus autocomplete="username"/><span class="mand">*</span></td>
      </tr>
      <tr>
        <th><label for="password">Password:</label></th>
        <td><input id="password" type="password" name="password" autocomplete="current-password"/><span class="mand">*</span></td>
      </tr>
      <tr>
        <th>&nbsp;</th>
        <td><input type="submit" value="Login"/></td>
      </tr>
    </table>
  </form>
</div>
