<table class="facts facts-l">
  <tr>
    <th>
<% if (node.config_files.length == 1) { %>
      Config file
<% } else { %>
      Config files
<% } %>

    </th>
    <td>
<%
   for (var i = 0; i < node.config_files.length; i++) {
     var config = node.config_files[i];
%>
      <code><%= config %></code>
<% } %>
    </td>
  </tr>
  <tr>
    <th>Database directory</th>
    <td>
      <code><%= node.db_dir %></code>
    </td>
  </tr>
  <tr>
    <th>Log file</th>
    <td>
      <code><%= node.log_file %></code>
    </td>
  </tr>
  <tr>
    <th>SASL log file</th>
    <td>
      <code><%= node.sasl_log_file %></code>
    </td>
  </tr>
</table>
