<tr>
  <td>Queues [Quorum]</td>
  <td>
    <span class="argument-link" field="definitionop" key="delivery-limit" type="number">Delivery limit</span>
    <span class="help" id="delivery-limit"></span> |
    <span class="argument-link" field="definitionop" key="expires" type="number">Auto expire</span> |
    <span class="argument-link" field="definitionop" key="max-in-memory-bytes" type="number">Max in-memory bytes</span> |
    <span class="argument-link" field="definitionop" key="max-in-memory-length" type="number">Max in-memory length</span> <br>
    <span class="argument-link" field="definitionop" key="max-length" type="number">Max length</span> |
    <span class="argument-link" field="definitionop" key="max-length-bytes" type="number">Max length bytes</span> |
    <span class="argument-link" field="definitionop" key="message-ttl" type="number">Message TTL</span>
    <span class="help" id="queue-message-ttl"></span> |
    <span class="argument-link" field="definitionop" key="target-group-size" type="number">Target group size</span> |
    <span class="argument-link" field="definitionop" key="overflow" type="string">Length limit overflow behaviour</span> <span class="help" id="queue-overflow"></span> </br>
  </td>
</tr>