<span class="argument-link" field="arguments" key="x-expires" type="number">Auto expire</span> <span class="help" id="queue-expires"></span> |
<span class="argument-link" field="arguments" key="x-message-ttl" type="number">Message TTL</span> <span class="help" id="queue-message-ttl"></span> |
<span class="argument-link" field="arguments" key="x-overflow" type="string">Overflow behaviour</span> <span class="help" id="quorum-queue-overflow"></span><br/>
<span class="argument-link" field="arguments" key="x-single-active-consumer" type="boolean">Single active consumer</span> <span class="help" id="queue-single-active-consumer"></span> |
<span class="argument-link" field="arguments" key="x-dead-letter-exchange" type="string">Dead letter exchange</span> <span class="help" id="queue-dead-letter-exchange"></span> |
<span class="argument-link" field="arguments" key="x-dead-letter-routing-key" type="string">Dead letter routing key</span> <span class="help" id="queue-dead-letter-routing-key"></span><br/>
<span class="argument-link" field="arguments" key="x-max-length" type="number">Max length</span> <span class="help" id="queue-max-length"></span> |
<span class="argument-link" field="arguments" key="x-max-length-bytes" type="number">Max length bytes</span> <span class="help" id="queue-max-length-bytes"></span>
| <span class="argument-link" field="arguments" key="x-delivery-limit" type="number">Delivery limit</span><span class="help" id="delivery-limit"></span>
| <span class="argument-link" field="arguments" key="x-quorum-initial-group-size" type="number">Initial cluster size</span><span class="help" id="queue-initial-cluster-size"></span><br/>
| <span class="argument-link" field="arguments" key="x-quorum-target-group-size" type="number">Target cluster size</span> <span class="help" id="quorum-queue-target-group-size"></span>
  | <span class="argument-link" field="arguments" key="x-dead-letter-strategy" type="string">Dead letter strategy</span><span class="help" id="queue-dead-letter-strategy"></span>
| <span class="argument-link" field="arguments" key="x-queue-leader-locator" type="string">Leader locator</span><span class="help" id="queue-leader-locator"></span>
| <span class="argument-link" field="arguments" key="x-consumer-disconnected-timeout" type="number">Consumer disconnected timeout</span><span class="help" id="queue-consumer-disconnected-timeout"></span><br/>
| <span class="argument-link" field="arguments" key="x-delayed-retry-type" type="string">Delayed retry type</span><span class="help" id="queue-delayed-retry-type"></span>
| <span class="argument-link" field="arguments" key="x-delayed-retry-min" type="number">Delayed retry min</span><span class="help" id="queue-delayed-retry-min"></span>
| <span class="argument-link" field="arguments" key="x-delayed-retry-max" type="number">Delayed retry max</span><span class="help" id="queue-delayed-retry-max"></span>