<tr>
  <td>Queues [Quorum]</td>
  <td>
    <span class="argument-link" field="definition" key="delivery-limit" type="number">Delivery limit</span>
    <span class="help" id="delivery-limit"></span> |
    <span class="argument-link" field="definition" key="dead-letter-strategy" type="string">Dead letter strategy</span>
    <span class="help" id="queue-dead-letter-strategy"></span> |
    <span class="argument-link" field="definition" key="consumer-disconnected-timeout" type="number">Consumer disconnected timeout</span>
    <span class="help" id="queue-consumer-disconnected-timeout"></span> |<br/>
    <span class="argument-link" field="definition" key="delayed-retry-type" type="string">Delayed retry type</span>
    <span class="help" id="queue-delayed-retry-type"></span> |
    <span class="argument-link" field="definition" key="delayed-retry-min" type="number">Delayed retry min</span>
    <span class="help" id="queue-delayed-retry-min"></span> |
    <span class="argument-link" field="definition" key="delayed-retry-max" type="number">Delayed retry max</span>
    <span class="help" id="queue-delayed-retry-max"></span> |
  </td>
</tr>