<tr>
  <td>Queues [Quorum]</td>
  <td>
    <span class="argument-link" field="definition" key="delivery-limit" type="number">Delivery limit</span>
    <span class="help" id="delivery-limit"></span> |
    <span class="argument-link" field="definition" key="dead-letter-strategy" type="string">Dead letter strategy</span>
    <span class="help" id="queue-dead-letter-strategy"></span> |
  </td>
</tr>