<% if (node.running) { %>
<table class="list">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <%
      for (var i = 0; i < list.length; i++) {
        var item = list[i];
    %>
       <tr<%= alt_rows(i)%>>
         <td><%= item.name %></td>
         <td><%= item.description %></td>
       </tr>
    <% } %>
</table>
<% } else {%>
<p>...node not running...</p>
<% } %>
