<form action="#/users" method="put">
<table class="form">
<tr>
  <th><label>Username:</label></th>
  <td><input type="text" name="username"/></td>
</tr>
<tr>
  <th><label>Password:</label></th>
  <td><input type="text" name="password"/></td>
</tr>
</table>
<input type="submit" value="Add user"/>
</form>
