<form action="#/users" method="put">
<table class="form">
<tr>
  <th><label for="username">Username:</label></th>
  <td><input type="text" id="username" name="username"/></td>
</tr>
<tr>
  <th><label for="password">Password:</label></th>
  <td><input type="text" id="password" name="password"/></td>
</tr>
</table>
<input type="submit" value="Add user"/>
</form>
