<form action="#/vhosts" method="put">
<table class="form">
<tr>
  <th><label>Name:</label></th>
  <td><input type="text" name="name"/></td>
</tr>
</table>
<input type="submit" value="Add virtual host"/>
</form>
