<h1>Virtual Host: <b><%= vhost.name %></b></h1>

<div class="section-hidden">
<h2>Delete this vhost</h2>
<div>
<form action="#/vhosts" method="delete" class="confirm">
<input type="hidden" name="name" value="<%= vhost.name %>"/>
<input type="submit" value="Delete this virtual host"/>
</form>
</div>
</div>
