<form action="#/vhosts" method="put">
<table class="form">
<tr>
  <th><label for="name">Name:</label></th>
  <td><input type="text" id="name" name="name"/></td>
</tr>
</table>
<input type="submit" value="Add virtual host"/>
</form>
