<h1>Virtual Hosts</h1>

<div class="section">
  <h2>All virtual hosts</h2>
  <div class="hider">
<table class="list">
  <thead>
    <tr>
      <th><%= fmt_sort('Name', 'name') %></th>
      <th>Users <span class="help" id="internal-users-only"></span></th>
    </tr>
  </thead>
  <tbody>
    <%
       for (var i = 0; i < vhosts.length; i++) {
         var vhost = vhosts[i];
    %>
       <tr<%= alt_rows(i)%>>
         <td><%= link_vhost(vhost.name) %></td>
         <td class="c"><%= fmt_permissions(vhost, permissions, 'vhost', 'user',
                           '<p class="warning">No users</p>') %></td>
       </tr>
    <% } %>
  </tbody>
</table>
  </div>
</div>

<div class="section-hidden">
  <h2>Add a new virtual host</h2>
  <div class="hider">
    <form action="#/vhosts" method="put">
      <table class="form">
        <tr>
          <th><label>Name:</label></th>
          <td><input type="text" name="name"/><span class="mand">*</span></td>
        </tr>
      </table>
      <input type="submit" value="Add virtual host"/>
    </form>
  </div>
</div>
